/* NAVIGATION BAR */
.static-navigation{
    position: fixed;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    border-right: 2px solid rgba(0, 255, 255, 0.226);
    z-index: 100;
    backdrop-filter: blur(15px)
}


.nav-social-media-container div{
    padding: 0.4em;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    margin: 0.3em 0em;
}

/* NAVIGATION SIDEBAR */

.navigation-slider{
    position: absolute;
    background-color: #0d052edd;
    height: 100vh;
    margin-left: 4em;
}

/* OVERVIEW */
.profile-image{
    width: 100%;
    height: auto;
    max-width: 15em;
    border-radius: 10px;
    border: 1px solid #05026e;
    transition: box-shadow 1s ease-in-out;
}

.profile-image:hover{
    box-shadow: 1px 1px 10em -3em #05026e;
}

.about-description{
    padding: 1em;
    border: 1px solid #05026e;
    border-radius: 10px;
    max-width: 50em;
     transition: box-shadow 1s ease-in-out;
}

.about-description:hover{
    box-shadow: 1px 1px 10em -3em #05026e;
}